@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'poppins', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Header Start  */
header {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.burger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #f3f3f3;
}

.burger:hover {
  color: #c7c7c7;
}

.mobile-menu {
  display: none;
}

.mobile-menu a {
  color: #f3f3f3;
  padding: 10px 0;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: #c7c7c7;
}

.logo {
  text-decoration: none;
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  transition: 0.4s ease;
}

.logo:hover {
  color: #c7c7c7;
}

.navigation a {
  display: inline-block;
  color: #f3f3f3;
  text-decoration: none;
  font-size: 1.1em;
  padding-left: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.navigation a:hover {
  color: #c7c7c7;
}

/* Header End */

/* Main Section Start */
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(111.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.main h2 {
  color: #f3f3f3;
  font-size: 1.4em;
  font-weight: 600;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #f3f3f3;
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: #f3f3f3;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #f3f3f3;
  background-color: #8e4a65;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.4s ease;
}

.main-btn:hover {
  background-color: #7c4058;
  transform: scale(1.05);
}

.social-icons a {
  display: inline-block;
  color: #f3f3f3;
  font-size: 1.7em;
  padding: 0 12px;
  transition: 0.4s ease;
}

.social-icons a:hover {
  color: #c7c7c7;
  transform: scale(1.08);
}

/* Main Section End */

/* Cards Section Start */
section {
  padding: 100px 200px;
}

.cards,
.Projects,
.Contact {
  padding: 20px 100px;
}

.title {
  display: flex;
  justify-content: center;
  color: #8e4a65;
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #2b2a31;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 /20%);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.icon {
  color: #8e4a65;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  align-content: center;
  color: #f3f3f3;
  margin: 10px;
  font-size: 1.5em;
  font-weight: 700;
}

.info p {
  color: #f3f3f3;
}

/* Cards Section End */

.Projects {
  background-color: #2b2a31;
}

.Projects .content {
  margin-top: 30px;
}

.Project-card {
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  min-height: 14em;
  width: 27em;
  overflow: hidden;
  margin: 16px;
  transition: 0.3s ease;
}

.Project-card:hover {
  transform: scale(1.01);
}

.Project-img img {
  width: 100%;
  transition: 0.3s ease;
  border-radius: 0 0 10px 10px;
}

.Project-img {
  transition: 0.3s ease;
}

.Project-card:hover .Project-img {
  opacity: 0.9;
}

.Project-info {
  padding: 1em;
}

.Project-categoty {
  font-size: 0.9em;
  color: #000;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.more-details {
  text-decoration: none;
  color: #8e4a65;
  transition: 0.3s ease;
}

.more-details:hover {
  color: #572c3d;
}

.content {
  display: flex;
}

.Projects .title {
  color: #f3f3f3;
}

.Contact .icon {
  color: #8e4a65;
  font-size: 5em;
  text-align: center;
  min-height: 150px;
}

.Contact .info {
  font-size: 1.3em;
}

.footer {
  background-color: #2b2a31;
  color: #f3f3f3;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #8e4a65;
}

footer .social-icons {
  font-size: 0.8em;
}

/* ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */

@media (max-width: 1024px) {

  header {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .navigation a {
    display: inline-block;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 15px;
    font-weight: 600;
    transition: 0.3s ease;
  }

  section {
    padding: 15px 30px;
  }

  .footer {
    background-color: #2b2a31;
    color: #f3f3f3;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .social-icons {
    font-size: 0.6em;
  }

  .Projects {
    padding: 15px;
  }

  .Project-card {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    margin: 12px;
    transition: 0.3s ease;
  }

  .card {
    background-color: #2b2a31;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: 0.3s ease;
  }
}

/* ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */
@media (max-width: 578px) {

  header {
    padding: 6px 15px;
  }

  .logo {
    text-decoration: none;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    transition: 0.4s ease;
  }

  .navigation a {
    display: inline-block;
    color: #f3f3f3;
    text-decoration: none;
    font-size: .7em;
    padding-left: 5px;
    font-weight: 500;
    transition: 0.3s ease;
  }

  .navigation {
    display: none;
  }

  .burger {
    display: block;
  }


  .mobile-menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    padding: 10px;
    border: 1px solid #ffffff27;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    box-shadow: 0 5px 25px rgba(1 1 1 /30%);
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
  }

  .main {
    text-align: center;
    justify-content: center;
  }

  .main h2 {
    color: #f3f3f3;
    font-size: 1.2em;
    font-weight: 600;
  }


  .main h2 span {
    margin: 0;
    font-size: 2em;
  }

  .main h3 {
    color: #f3f3f3;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  section {
    padding: 30px 10px;
  }

  .cards,
  .Projects,
  .Contact {
    padding: 20px 25px;
  }

  .card {
    background-color: #2b2a31;
    width: 27em;
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
    border-radius: 10px;
    padding: 20px;
    margin: 16px;
    transition: 0.3s ease;
  }

  .Project-card {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    min-height: 14em;
    width: 27em;
    overflow: hidden;
    margin: 16px;
    transition: 0.3s ease;
  }

  .title {
    display: flex;
    justify-content: center;
    color: #8e4a65;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 30px;
    /* padding-top: 30px; */
  }

  .social-icons a {
    font-size: 1.5em;
    padding-right: 10px;
    transition: 0.4s ease;
  }

  .social-icons a:hover {
    color: #c7c7c7;
    transform: scale(1.08);
  }

  .icon {
    color: #8e4a65;
    font-size: 5em;
    text-align: center;
  }

  .info h3 {
    align-content: center;
    color: #f3f3f3;
    margin: 10px;
    font-size: 1em;
    font-weight: 700;
  }

  .info p {
    color: #f3f3f3;
    font-size: .8em;
  }

  .main-btn {
    color: #f3f3f3;
    background-color: #8e4a65;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.4s ease;
  }

  .main-btn:hover {
    background-color: #572c3d;
    transform: scale(1.05);
  }
  .footer {
    padding: .8em;
  }

  .footer-title {
    font-size: .9em;
    font-weight: 600;
  }
}
@media (max-width: 412px) {
  .footer-title {
    font-size: 0.8em;
    font-weight: 600;
  }

  .footer-icons a{
    padding-right: 0px;
  }
}
